body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  max-width: 1280px;
  margin: auto;
}

.logo {
  width: 108px;
}

button {
  background-color: white;
  font-size: 16px;
  font-weight: 600;
}

.menu button {
  display: none;
  border: 0px;
  color: #222222;
  padding-left: 16px;
  padding-right: 16px;
}

.menu button:nth-child(2) {
  margin-left: 44px;
}

.loginBox {
  display: flex;
  align-items: center;
}

.login {
  display: inline-block;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 9999px;
  padding: 8px 16px;
  font-size: 14px;
}

.ellipsis {
  width: 24px;
  margin-left: 16px;
}

@media (min-width: 1024px) {
  .menu button {
    display: inline-block;
  }

  .login {
    color: #737373;
    font-size: 16px;
    border: 0px;
    padding: 0px;
  }

  .ellipsis {
    display: none;
  }
}
